<ion-view view-title="Favorite Homes">
  <ion-content class="padding">
    <div class="list card" collection-repeat="house in fav_props" ng-click="viewHome(house)">
     <div class="item item-thumbnail-left">
       <img ng-src="{{house.img}}" fallback-src="img/blankHouse.png">
       <div class = 'prop-address'>
         <h2>{{house.street}}</h2>
         <h2>{{house.city}}, {{house.state}} {{house.zipcode}}</h2>
       </div>
     </div>

     <div class="item item-divider">
       <p>
         ${{house.price}} per month<br>
         Bedrooms: {{house.bedrooms}}<br>
         Bathrooms: {{house.bathrooms}}
       </p>
     </div>

    </div>
  </ion-content>
</ion-view>
