<ion-view view-title="Favorite Roomies">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="roomie in fav_roomies" type="item-text-wrap" ng-click="viewRoomie(roomie)">
        <img ng-src="{{roomie.face}}">
        <h2>{{roomie.first_name}} {{roomie.last_name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="tabs tabs-icon-only">
        <a nav-clear class="tab-item disable-user-behavior" title="Home" nav-clear ui-sref="menu.favorite-homes">
          <i class="icon ion-home"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="Chat" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.favorite-roomies">
          <i class="icon ion-chatbubbles"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
  </div>
</ion-view>
