<ion-view view-title="Login" >
  <ion-content ng-controller="LoginCtrl">
    <div class = 'background'>
      <div class = "frow centered filter">
      <div class = "frow">
        <h2>Home Ease</h2>
      </div>
      <div class="list login-form">
          <label class="item item-input">
            <input type="text" placeholder="User Name" ng-model="email">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Password" ng-model="pwdForLogin" >
          </label>
        </div>
        <div class="frow btn-container">
          <button class="button button-balanced btn" ng-click="signIn()">
            Login
        </button>
        </div>
          <div class="frow btn-container">
          <button class="button btn button-positive " ng-click="fbLogin()">
             <i class="icon facebook-logo"></i>
             Login with Facebook
           </button>
         </div>
        <div class="frow btn-container">
        <button class="button btn">
           <i class="icon linkedin-logo"></i>
            Login with LinkedIn
         </button>
       </div>
       <div class="frow">
         <div class="frow btn-container" >
           <a ng-click="signup()" class="signup">
             Create an account
           </a>
      </div>
     </div>
</div>
</ion-content>
</ion-view>
