<ion-view view-title="Login" >
  <ion-content>
    <div class = 'background'>
    <div class = "frow centered">
      <div class="button-container">
      <div class="frow justify-around">
        <div  ng-click="fbLogin()">
          <img ng-src='../img/facebook_logo.png' class = 'facebook' />
        </div>
        <div ng-click="gotoMain()">
          <img ng-src='../img/home.png' class = 'facebook' />
        </div>
      </div>
    <div class="frow justify-around">
      <div >
        <img ng-src='../img/facebook_logo.png' class = 'facebook'/>
      </div>
      <div  >
        <img ng-src='../img/facebook_logo.png' class = 'facebook'/>
      </div>
    </div>
  </div>
</div>
</div>
</ion-content>

</ion-view>
