<ion-view view-title="Money">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding" >
    This is where the money view will go
  </ion-content>
  <ion-tabs class="tabs-icon-top tabs-positive">

          <ion-tab title="Homes" icon="ion-home" href="#/menu/search/home">
            <ion-nav-view name="search-homes"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Roomies" icon="ion-ios-information" href="#/menu/search/roomies">
            <ion-nav-view name="search-roomies"></ion-nav-view>
          </ion-tab>

  </ion-tabs>
</ion-view>
