
<!-- COMMENTED OUT SECTION  >
<!
dssffs

<ion-view view-title="" >
  <ion-content>
    <div class = ''>
      <div class = "title-container">
        <h2>Payment</h2>
      </div>
    <div class = "frow centered-column">
      <div >
          <div class="frow btn-holder">
          <button class="button button-positive btn" ng-click="pay_rent()"  >
             <i class="ion-social-usd"></i>
             Rent Pay Calculator
           </button>
        </div>
    </div>
   </div>
  </div>
  </div>
</div>
</ion-content>
</ion-view>


> -->


-----------------------------------------------------------------------------------------

<html ng-app="ionicApp">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Ionic Template</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
  </head>

  <body ng-controller="MyCtrl">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Ionic Blank Starter</h1>
    </ion-header-bar>
    <ion-content>
      <div class="main-wrap">
        <div class="row">
        <button class="col button">7</button>
        <button class="col button">8</button>
        <button class="col button">9</button>
      </div>
      <div class="row">
        <button class="col button">4</button>
        <button class="col button">5</button>
        <button class="col button">6</button>
      </div>
      <div class="row">
        <button class="col button">1</button>
        <button class="col button">2</button>
        <button class="col button">3</button>
      </div>
      <div class="row">
        <button class="col button">0</button>
      </div>
      </div>
    </ion-content>
  </body>

</html>
