<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Search Homes">
  <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
  <ion-content has-header="true">

    <div class="list card" collection-repeat="house in houses" ng-click="openModal(house)">
     <div class="item item-thumbnail-left">
       <img ng-src="{{house.img}}" fallback-src="img/blankHouse.png">
       <div class = 'prop-address'>
         <h2>{{house.street}}</h2>
         <h2>{{house.city}}, {{house.state}} {{house.zipcode}}</h2>
       </div>
     </div>

     <div class="item item-divider">
       <p>
         ${{house.price}} per month<br>
         Bedrooms: {{house.bedrooms}}<br>
         Bathrooms: {{house.bathrooms}}
       </p>
     </div>

   </div>
  </ion-content>

</ion-view>
