<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Housing">
  <ion-content class="padding">
    <div class="list card" ng-repeat="house in houses">

     <div class="item item-avatar">
       <img src="mcfly.jpg">
       <h2>price:{{house.price}}</h2>
       <p>November 05, 1955</p>
     </div>

     <div class="item item-body">
       <img class="full-image" src="delorean.jpg">
       <p>
         This will be hidden by default and expand when header is clicked
       </p>
       <p>
         <a href="#" class="subdued">1 Like</a>
         <a href="#" class="subdued">5 Comments</a>
       </p>
     </div>

   </div>
  </ion-content>
</ion-view>
