<!

<ion-view view-title="Money">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Pay Roommates</div>
      <div class="item item-body">
        <div>
          You ate an apple! How ya feeling?
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b>  meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

THE CODE ABOVE IS CURRENTLY BEING UNUSED BUT I AM KEEPING IT FOR REFERENCE PURPOSES
-->









<ion-view view-title="" >
  <ion-content>
    <div class = ''>
      <div class = "title-container">
        <h2>Payment</h2>
      </div>
    <div class = "frow centered-column">
      <div >
          <div class="frow btn-holder">
          <button class="button button-positive btn" ng-click="pay_rent()"  >
             <i class="ion-social-usd"></i>
             Pay Rent
           </button>
        </div>

      <div class="frow btn-holder">
        <button class="button button-energized btn" ng-click="pay_roomies()" >
           <i class="ion-cash"></i>
           <i class="ion-ios-people"></i>
           Pay Roomies
         </button>
    </div>
   </div>
  </div>
  </div>
</div>
</ion-content>
</ion-view>
