
.background{
  background-image: url('../img/homeas.jpg');
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.container{
  height:  100vh;
  width: 100%;
}

.holder{
  position: relative;
}

.facebook{
  height:15vh;
  width:15vh;
  z-index: 999;
}
